.searchBarContainer {
    position: relative;
    width: 325px; 
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 20px;
}

.searchInput {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
    color: black;

}
.dropdownContainer {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2001;
    max-height: 200px;
    overflow-y: auto;
    
}
.itemDrop {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 2px solid black;
}
.dropdownItem:hover{
    background: green;
}
.searchButton {
    cursor: pointer;
    border-radius: 10px;
}
.searchButtonImage {
    border-radius: 10px;
}
.resultImage {
    border-radius: 4px;
    margin-right: 1rem;
}

.productName {
    font-size: 1rem;
    font-weight: 500;
    color: red;
}



