.productcontainer {
    display: grid;
    grid-template-columns: auto auto ;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;

}
.productimage {
    
    align-items: center;
    padding-top: 100px;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
}
.seller {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 10px;
    color: black;
    border-top: solid  #e5e7eb 3px;
    border-bottom:  #e5e7eb solid 3px;
    padding-bottom: 10px;


}
.reviews {
    display: grid;
    grid-template-columns: auto auto ;
    border-top:  #e5e7eb 3px solid;
    margin-top: 50px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 50px;
    
}
.image {
    width: 300;
    height: auto;
    padding-top: 10px;
    background-color:rgba(255, 255,255, 0.6);
    border-radius: 25px;
    padding-bottom: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
}

@media (max-width: 724px) {
  .seller {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image {
    margin: 0 auto;
    width: 80%;
    height: auto;
  }
  .productcontainer {
    grid-template-columns: 1fr ;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;

}
.description {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;

}

.reviews {
    grid-template-columns: 1fr;
}
}